.footer-container {
  background-color: black;
  color: white;
  margin-top: 10px;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.social-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 30px;
}

.footer-border {
  border-top: 1px solid white;
  width: 100%;
}

.copy-parrafo {
  font-size: 10px;
}

.about-link {
  color: white;
  text-decoration: underline;
}


