.carousel {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: 100%;
}

.carousel-slide {
  width: calc(100% / 3);
  margin-right: 10px;
}

.carousel-slide img {
  width: 100%;
  height: auto;
}

.carousel-slide.zoom-effect {
  transform: scale(1.05);
}

.tituloPeliculas {
  font-size: 20px;
  font-weight: 600;
  color: white;
}

.tituloSeries {
  font-size: 20px;
  font-weight: 600;
  color: white;
}
